.editPageContainer {
  position: absolute;
  background: linear-gradient(45deg, #f8f9fa, #ced4da);
  width: 100%;
  height: 100%;
}

.editButton {
  width: 100px;
  height: 30px;
  align-self: center;
  background: linear-gradient(45deg, #99d98c, #34a0a4);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.658) 0px 3px 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.editButtons :first-child {
  margin-right: 50px;
}

.toHomepage {
  color: black;
  text-decoration: none;
  margin-right: 0 !important;
}

.editTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.editContainer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 33% 33% 33%;
}

.inputContainer {
  text-align: center;
}

.editButtons {
  margin-top: 50px;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 20px;
}

input {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 400px;
  height: 25px;
  margin-top: 50px;
}

.error {
  margin-top: 50px;
  text-align: center;
  color: red;
}

.success {
  margin-top: 50px;
  text-align: center;
  color: green;
}

.editLoading {
  padding-top: 15%;
  width: 100%;
  text-align: center;
  height: 70vh;
}

@media only screen and (max-width: 600px) {
  .editTitle {
    font-size: 25px;
  }

  .error {
    font-size: 15px;
  }

  .success {
    font-size: 15px;
  }

  input {
    width: 80%;
    height: 20px;
  }
  .editContainer {
    width: 100%;
  }
}
