.userCard {
  width: 50%;
  height: 300px;
  border-radius: 5px;
  background: linear-gradient(45deg, #99d98c, #34a0a4);
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 25% 25% 25% 25%;
  box-shadow: rgba(0, 0, 0, 0.658) 0px 3px 8px;
  margin-top: 20px;
}

.userCard h1 {
  justify-self: center;
  align-self: center;
}
.userActions {
  justify-self: end;
  align-self: end;
}

.userActions button {
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0);
}

.userActions button:hover {
  background-color: black;
  cursor: pointer;
  color: #99d98c;
}

.userLink {
  color: black;
  text-decoration: none;
}

.userLink:hover {
  color: #99d98c;
  text-decoration: none;
}
